.bx1{
    height: 380px;
    width: 400px;
    background-color: aqua;
    margin: 5% 0% 0% 35%;
}
.bx2{
    height: 80px;
    width: 400px;
    margin: 0% 0% 0% 3%;
}
.bx3{
    height: 300px;
    width: 400px;
    margin: 0% 0% 0% 3%;
}
/* text box */
.t1{
    height: 50px;
    width: 350px;
    margin: 3.5% 0% 0% 5%;
}
/* text box */
/* button */
.b1{
    height: 30px;
    width: 80px;
    margin: 5% 0% 0% 1.8%;
}
.b2{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b3{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b4{
    height: 30px;
    width: 80px;
    margin: 5% 0% 0% 1.8%;
}
.b5{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b6{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b7{
    height: 30px;
    width: 80px;
    margin: 5% 0% 0% 1.8%;
}
.b8{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b9{
    height: 30px;
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.b0{
    height: 30px;
    width: 80px;
    margin: 5% 0% 0% 28%;
}
.ad{
    width: 80px;
    margin: 0% 0% 0% 3%;
}
.su{
    width: 80px;
    margin: 0% 0% 0% 3%;
}
.mu{
    width: 80px;
    margin: 0% 0% 0% 3%;
}
.di{
    width: 80px;
    margin: 0% 0% 0% 29%;
}
.a1{
    width: 80px;
    margin: 13% 0% 0% 1.8%;
}
.c1{
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.m1{
    width: 80px;
    margin: 0% 0% 0% 5%;
}
.e1{
    width: 80px;
    margin: 0% 0% 0% 3%;
}
/* button */